<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,198}}</string>
                <key>sourceSize</key>
                <string>{191,198}</string>
            </dict>
            <key>nun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{112,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,198}}</string>
                <key>sourceSize</key>
                <string>{112,198}</string>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,202},{118,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,197}}</string>
                <key>sourceSize</key>
                <string>{118,197}</string>
            </dict>
            <key>sun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{183,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,164}}</string>
                <key>sourceSize</key>
                <string>{183,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>D31_u.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d6a4ef0e5c7717cc6987c4fb4eff369$</string>
            <key>textureFileName</key>
            <string>D31_u.png</string>
        </dict>
    </dict>
</plist>
